;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Thu Feb 21 11:08:32 2013
;; Desktop file format version 206
;; Emacs version 24.2.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist '((48 . "(lisp-mode 1)\n")))
(setq file-name-history '("~/color-theme/themes/color-theme-sublime.el" "~/color-theme/themes/" "~/.emacs" "~/EmacsThemes/color-theme-sublime.el" "~/EmacsThemes/" "~/.gitignore" "c:/bin/EmacsConfig/_emacs.el" "~/" "~/EmacsThemes/main.cpp" "~/_emacs.el" "~/EmacsThemes/" "~/.gitignore" "c:/bin/EmacsConfig/" "~/EmacsThemes/main.cpp" "~/" "c:/bin/EmacsConfig/" "c:/bin/main.cpp" "~/" "~/EmacsThemes/dired-colors.ls" "~/_emacs.el" "~/EmacsThemes/" "~/_emacs.el" "~/EmacsThemes/dired-colors.ls" "~/_emacs.el" "~/EmacsThemes/dired-colors.ls" "~/EmacsThemes/" "~/_emacs.el" "f:" "e:" "~/EmacsThemes/"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "c:/bin/EmacsConfig/.emacs"
  ".emacs"
  'lisp-mode
  '(ergoemacs-mode auto-complete-mode)
  982
  '(20 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "c:/bin/EmacsConfig/color-theme/themes/color-theme-sublime.el"
  "color-theme-sublime.el"
  'emacs-lisp-mode
  '(ergoemacs-mode yas/minor-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "c:/bin/EmacsConfig/.gitignore"
  ".gitignore"
  'fundamental-mode
  '(ergoemacs-mode)
  25
  '(25 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

